@import "mixins";

$color-primary: #0070f3;

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    line-height: 1.15;
    text-align: center;
    font-size: 4rem;
  }

  a {
    margin-top: 1.6rem;
    color: $color-primary;
    font-size: 1.5rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  width: 100%;
  max-width: 900px;
  margin: 2.4rem 0;
}
