@import "mixins";

$color-primary: #0070f3;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.techs {
  font-size: 1.3rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  input[type=range] {
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.logo {
  height: 1em;
}

.grid {
  @include desktop() {
    width: 100%;
    flex-direction: column;
  }
}
